.menu__item {
    text-decoration: none;
    color: #697CA6;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.05em;
    text-shadow: 0px 0px 5px #E6E6E6;
    margin-left: 38px;
}

.menu__item:first-child {
    margin-left: 0;
}

.menu__item:hover {
    color: #5E81FE;
}