@import url('/styles/normalize.css');
@import url('/styles/google\ fonts/fonts.css');
@import url('https://unpkg.com/swiper/swiper-bundle.min.css');

/* COMMON blocks */
@import url('common-blocks/common-blocks.css');

/* SECTONS */
@import url('sections/hero/hero.css');
@import url('sections/customers/customers.css');
@import url('sections/plan-and-manage/plan-and-manage.css');
@import url('sections/features/features.css');
@import url('sections/stats/stats.css');
@import url('sections/blog/blog.css');

/* p {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quicksand', sans-serif;
}

a {
    font-family: 'Quicksand', sans-serif;
} */

.body-container {
    max-width: 1440px;
    margin: 0 auto;
}






.quotes-section {
    position: relative;
    overflow: hidden;
    background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
    display: flex;
    align-items: center;
}

.quotes-section-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-top: 110px;
    right: -275px;
    padding-bottom: 80px;

}

.quotes-text {
    margin-right: 140px;
    padding-bottom: 60px;

}

.quotes-text p {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 12px;
    line-height: 23px;
    letter-spacing: 0.03em;
    color: #A4ABC8;
    max-width: 325px;
}

.quotes-text h2 {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    color: #3D4F9F;
    margin: 0;
}

.quotes-text p:first-child {
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3D4F9F;
    padding-bottom: 35px;
}

.quotes-slider {
    overflow: hidden;
    position: relative;
    max-width: 915px;
    height: 290px;
    display: flex;
    align-items: flex-start;
}


.quotes-slide {
    max-width: 423px;
    display: flex;
    flex-flow: column;
    align-items: center;

    opacity: 0.5;
}

.swiper-slide-active {
    opacity: 1;
}

.quotes-slide img {
    margin-top: -30px;
}

.quotes-slide-wrapper {
    padding: 25px 68px;
    background: #FFFFFF;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0px 5px 50px #F3F5FA;
}

.quotes-slide p {
    font-family: Roboto;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #676F95;
}

.quotes-slider-pagination {
    position: absolute;
    margin-left: -260px;
}



/* FAQ section start */

.faq-section {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.faq-section>p {
    font-family: Roboto;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3D4F9F;
    padding-top: 180px;
    margin: 0;
}

.faq-section>h2 {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #3D4F9F;
    padding-bottom: 30px;

}

.accordion-block {
    max-width: 750px;
    padding-bottom: 200px;
}

.accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.accordion-item {
    border-bottom: 1px solid #D8E3FE;
    width: 730px;
    padding: 13px 10px;
}

.accordion-item button {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.03em;
    color: #8E96B7;
}

.accordion-item button:hover {
    color: #495274;
}

.accordion-item button>svg {
    padding-right: 20px;
}


.active,
.accordion:hover svg path {
    stroke: #495274;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    transition: height 1s ease;
}

.panel-wrapper {
    display: flex;
    align-items: center;
}

.panel p {
    margin: 0;
    padding-left: 55px;
    max-width: 391px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.03em;
    color: #8D96BD;
    margin-right: 35px;
}

.panel a {
    text-decoration: none;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: #7382A3;
    background-color: #E8ECF4;
    padding: 16px 34px;
}

.panel a:hover {
    background-color: #D2E1FF;
    color: #3A79FF;
}



/* GET-STARTED section start */
.get-started-section {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 70px 0;
    padding-bottom: 105px;
    background: url(../images/get-started/get-started-bg.png) no-repeat center center;
    background-size: cover;
}

.get-started-section p {
    font-size: 15px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    max-width: 660px;
    margin-top: 25px;

}

.get-started-section p:first-child {
    margin: 10px 0;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.get-started-section h2 {
    margin: 0;
    font-weight: 300;
    font-size: 48px;
    color: #FFFFFF;
}

.get-started-section h2 span {
    font-weight: 500;
}

.get-started-buttons {
    margin-top: 52px;
}

.get-started-buttons a {
    border: 1px solid #A0B4FF;
    border-radius: 2px;
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #C7D3FF;
    padding: 13px 28px;
}

.get-started-buttons a:last-child {
    padding: 13px 9px;
}

.get-started-buttons a:hover {
    color: #565F82;
    background: #FFFFFF;
    box-shadow: 0px 5px 15px #6480E8;
    border-radius: 2px;
}

.newsletter-section .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

.newsletter-section-text h3 {
    font-weight: bold;
    font-size: 18px;
    color: #3D4F9F;
}

.newsletter-section-text p {
    max-width: 330px;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.03em;
    color: #8D96BD;
}

.newsletter-section-form {
    margin-left: 80px;
}

.newsletter-section-form input {
    border: none;
}

.newsletter-section-form input[type="email"] {
    padding: 20px;
    background-color: #EFEFF7;
    background: #EFEFF7;
    border-radius: 5px;
}


.newsletter-section-form input::placeholder {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: #7A85AD;
}

.newsletter-section-form input:focus {
    outline-color: #4074F8;
}

.newsletter-section-form input[type="submit"] {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    background-color: #8EA1FF;

    padding: 22px 70px;
    margin-left: 5px;
    border-radius: 5px;
}

.newsletter-section-form input[type="submit"]:hover {
    cursor: pointer;
    background-color: #4D6CE1;
}

footer {
    padding-bottom: 95px;
}

footer .common-menu {
    margin-top: 80px;
}

footer p {
    margin: 10px 0 15px 215px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #AEB8D0;
}



.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    filter: drop-shadow(0px 15px 100px #E5EBF8);
}

.gallery__img:hover {
    cursor: pointer;
}

.slide-gallery-item {
    margin: 0;
}

.slide-gallery-block .item-1 {
    grid-area: img-1;

}

.slide-gallery-block .item-2 {
    grid-area: img-2;

}

.slide-gallery-block .item-3 {
    grid-area: img-3;
}